#page {
    padding-top: 60px;
}

a.iWebutton {
    display: inline-block;
    zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
    *display: inline;
    vertical-align: baseline;
    margin: 2px;
    outline: none;          /* remove dotted border in FF */
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 1.75em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
a.iWebutton:hover {
    text-decoration: none;
}
a.iWebutton:active {
    position: relative;
    top: 1px;
}

/* iWebUnlimited Button Color */
.iWebutton.gray {
    color: #444444;
    border: solid 1px #b7b7b7;
    background: #ddd;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#b4b4b4));
    background: -moz-linear-gradient(top,  #ededed,  #b4b4b4);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#b4b4b4');
}

.iWebutton.gray:hover {
    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#eaeaea), to(#acacac));
    background: -moz-linear-gradient(top,  #eaeaea,  #acacac);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#eaeaea', endColorstr='#acacac');
}

.iWebutton.gray:active {
    color: #444444;
    background: -webkit-gradient(linear, left top, left bottom, from(#b4b4b4), to(#ededed));
    background: -moz-linear-gradient(top,  #b4b4b4,  #ededed);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#b4b4b4', endColorstr='#ededed');
}

.iWebutton.white {
    color: #606060;
    border: solid 1px #c6c6c6;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
    background: -moz-linear-gradient(top,  #fff,  #ededed);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.iWebutton.white:hover {
    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
    background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.iWebutton.white:active {
    color: #707070;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
    background: -moz-linear-gradient(top,  #ededed,  #fff);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}

.iWebutton.blue {
    color: #f2fbff;
    border: solid 1px #0076a3;
    background: #0095cd;
    background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
    background: -moz-linear-gradient(top,  #00adee,  #0078a5);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}
.iWebutton.blue:hover {
    background: #007ead;
    background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
    background: -moz-linear-gradient(top,  #0095cc,  #00678e);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
.iWebutton.blue:active {
    color: #80bed6;
    background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
    background: -moz-linear-gradient(top,  #0078a5,  #00adee);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}

.iWebutton.xxlarge {
    font: 34px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
}
.iWebutton.xxlarge.rounded {
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}

.iWebutton.xlarge {
    font: 24px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
}
.iWebutton.xlarge.rounded {
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}